<aside class="sidebar d-flex flex-column p-3">
    <h2 class="app-title mb-4">Gestão UBS</h2>

    <ul class="nav nav-pills flex-column mb-auto">

        <li class="nav-item">
            <a href="../pages/index.html" class="nav-link link-light">
                🏠 Dashboard
            </a>
        </li>

        <li>
            <a href="../pages/pacientes.html" class="nav-link link-light">
                👤 Pacientes
            </a>
        </li>

        <li>
            <a href="../pages/medicos.html" class="nav-link link-light">
                🩺 Médicos
            </a>
        </li>

        <li>
            <a href="../pages/consultas.html" class="nav-link link-light">
                📅 Consultas
            </a>
        </li>

        <li>
            <a href="../pages/relatorios.html" class="nav-link link-light">
                📊 Relatórios
            </a>
        </li>

    </ul>
</aside>